//	Base

html
  font-size $font-size-base

body
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  text-rendering optimizeLegibility
  font-family $font-family
  font-weight 400
  line-height $line-height-base
  color $color-text

//	Headings

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  margin 1.414em 0 0.5em
  color $color-text
  font-family $font-family-heading
  font-weight inherit
  line-height 1.2

.huge, h1
  font-size 3.157em
  margin-top 0

.large, h2
  font-size 2.369em

.bigger, h3
  font-size 1.777em

.big, h4
  font-size 1.333em

.small, small
  font-size .75em


// Basic Text Style

p
  margin 0 0 1.3em 0
  font-weight 400
  font-size 14px

em
  font-style italic

strong
  font-weight bold

hr
  border solid #ddd
  border-width 1px 0 0
  clear both
  margin 10px 0 30px
  height 0
