.nav
  display flex
  justify-content space-between
  align-items center
  &__list
    display block
  &__item
    display inline-block
    margin-left 1em
    &:first-child
      margin-left 0
  &__logo
    display block
    width 200px