// Colors
$color-primary   =  #ff851b
$color-secondary =  #85144b
$color-background = #ffffff
$color-text = #222222
$color-link = $color-primary
$color-border = #ddd

// Typography
$font-family = '游ゴシック', 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ ゴシック', sans-serif
$font-family-heading = '游明朝体', 'Yu Mincho', YuMincho, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ ゴシック', sans-serif
$font-size-base = 16px
$font-size-small = 14px
$line-height-base = 1.45

// Media queries
$small = 768px
$small-max = ($small - 1)

$large = 1200px
$large-max = ($large - 1)