{% set page = 'top' %}

{% include "source/_partials/_head.html" %}

  <body class="page p-home">

    <div class="page__wrapper">


      {% include "source/_partials/_header.html" %}


      <main class="main">

          <section class="section">

            <h1>Top page</h1>

            <h2>A Visual Type Scale</h2>

            <h3>A Visual Type Scale</h3>

            <h4>A Visual Type Scale</h4>

            <h5>A Visual Type Scale</h5>

            <h6>A Visual Type Scale</h6>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?</p>

          </section>

      </main>

{% include "source/_partials/_footer.html" %}
