{% set page = 'top' %}

{% include "source/_partials/_head.html" %}

  <body class="page p-home">


    {% include "source/_partials/_header.html" %}


    <main class="main wrapper">

        <section class="section">

          <h1>Top page</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?<br>
            <small>*Footnote: Lorem ipsum dolor sit amet.</small>
          </p>

          <hr>

          <h2>A Visual Type Scale</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
          </p>

          <button>Click me!</button>

          <h3>A Visual Type Scale</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
          </p>

          <strong>Unordered List</strong>
          <ul>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ul>

          <br>

          <strong>Ordered List</strong>
          <ol>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
            <li>List item</li>
          </ol>

          <h4>A Visual Type Scale</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
          </p>

          <h5>A Visual Type Scale</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
          </p>

          <h6>A Visual Type Scale</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
          </p>

        </section>

    </main>

{% include "source/_partials/_footer.html" %}
